{% extends 'layouts/base.html.twig' %}

{% block meta_title %}Quizzler? - Home{% endblock %}
{% block title %}Have fun!{% endblock %}

{% block content %}
    <div class="d-flex align-items-stretch">
        <a href="{{ path('quiz_list') }}" data-turbo-frame="page" data-turbo-action="advance" class="btn btn-success flex-fill m-2  pt-5 pb-5">
            <i class="ri-list-ordered"></i>
            Quizzes
        </a>
        <a href="#" data-turbo-frame="page" data-turbo-action="advance" class="btn btn-info disabled flex-fill m-2 pt-5 pb-5">
            <i class="ri-survey-line"></i>
            Create interview
        </a>
    </div>
{% endblock %}
