{% extends 'layouts/base.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Welcome!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-2 col-sm-1"></div>
        <div class="col-lg-6 col-md-8 col-sm-10 d-grid gap-2">
            <div class="border-top border-2 mt-2 mb-4"></div>
            <a href="{{ path('app_quiz', {'quiz': null}) }}" data-turbo-frame="page" data-turbo-action="advance" class="btn btn-primary">
                <i class="ri-arrow-right-circle-line"></i>
                Go to quizzes
            </a>
            <a href="{{ path('quiz_list') }}" data-turbo-frame="page" data-turbo-action="advance" class="btn btn-success">
                <i class="ri-list-ordered"></i>
                Quizzes
            </a>
            <a href="{{ path('app_quiz', {'quiz': null}) }}" data-turbo-frame="page" data-turbo-action="advance" class="btn btn-info disabled">
                <i class="ri-survey-line"></i>
                Create interview
            </a>
        </div>
    </div>
{% endblock %}
