<!DOCTYPE html>
<html lang="{{ app.request.locale ?? app.request.defaultLocale }}" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <turbo-frame id="page">
            {% block body %}{% endblock %}
        </turbo-frame>

        {# @todo move to app.js and store theme in the localStorage or pass it to backend(user settings?) #}
        <script>
            document
                .querySelector('#themeSwitch')
                .addEventListener('click', function (e) {
                    let html = document.querySelector('html');
                    html.setAttribute('data-bs-theme', html.getAttribute('data-bs-theme') === 'light' ? 'dark' : 'light');

                    e.preventDefault();
                    return false;
                })

        </script>
    </body>
</html>

