<!DOCTYPE html>
<html lang="{{ app.request.locale ?? app.request.defaultLocale }}" data-controller="application">
    <head>
        <meta charset="UTF-8">
        <title>{% block meta_title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body class="position-relative">
        <turbo-frame id="page">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mt-3 mb-3 ">
                        <h1 class="d-inline">{% block title %}{% endblock %}</h1>
                        <div class="d-inline" style="float: right">
                            {% include 'components/action-bar.html.twig' %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-5">
                        <turbo-frame id="page-content">
                            {% block content %}{% endblock %}
                            {% include 'layouts/frames/_flashes.html.twig' %}
                        </turbo-frame>
                    </div>
                </div>
            </div>
        </turbo-frame>
    </body>
</html>

