<!DOCTYPE html>
<html lang="{{ app.request.locale ?? app.request.defaultLocale }}" data-controller="application">
    <head>
        <meta charset="UTF-8">
        <title>{% block meta_title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <turbo-frame id="page">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mt-3 mb-3 ">
                        <h1 class="d-inline">{% block title %}{% endblock %}</h1>
                        <div class="d-inline" style="float: right">
                            {% include 'components/action-bar.html.twig' %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-5">
                        <turbo-frame id="page-content">
                            {% include 'layouts/frames/_flashes.html.twig' %}
                            {% block content %}{% endblock %}
                        </turbo-frame>
                    </div>
                </div>
            </div>
        </turbo-frame>
    </body>
</html>

