{% extends 'layouts/base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-3 mb-3 ">
                <h1 class="d-inline">{% block title %}{% endblock %}</h1>
                <div class="d-inline" style="float: right">
                    {% if(app.request.attributes.get('_route') != 'app_home') %}
                        <a href="#" onclick="history.back()" data-turbo-frame="page"
{#                           data-turbo-action="replace"#}
                           class="btn btn-outline-success">
                            <i class="ri-arrow-left-fill"></i> Back
                        </a>
                    {% else %}
                    {% endif %}
                    <a href="#" onclick="toggleTheme" id="themeSwitch" data-turbo="false"
                       class="btn btn-outline-info">
                        <i class="ri-moon-clear-line"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            {% block container %}
                <div class="col-md-12">
                    <turbo-frame id="page-content">
                        {% include 'layouts/frames/_flashes.html.twig' %}
                        {% block content %}{% endblock %}
                    </turbo-frame>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
