<turbo-frame id="login">
    <h2 class="text-center">Sign in</h2>
    <div class="border-top border-2 mt-2 mb-3"></div>
    {{ form(form, {
        attr: {'data-turbo-frame' : 'page'}
    }) }}
</turbo-frame>
