<div class="toast-container position-absolute p-3 top-0 start-50 translate-middle-x" aria-live="polite" aria-atomic="true">
    {% for flash in app.flashes('danger') %}
        {% include 'layouts/frames/_flashe.html.twig' with {type : 'danger', icon: 'ri-error-warning-line', flash : flash} %}
    {% endfor %}
    {% for flash in app.flashes('warning') %}
        {% include 'layouts/frames/_flashe.html.twig' with {type : 'warning', icon: 'ri-error-warning-line', flash : flash} %}
    {% endfor %}
    {% for flash in app.flashes('success') %}
        {% include 'layouts/frames/_flashe.html.twig' with {type : 'success', icon: 'ri-error-warning-line', flash : flash} %}
    {% endfor %}
</div>

