<div class="toast fade text-white bg-{{ type }}" role="alert" data-bs-autohide="true" data-bs-delay="2000" data-controller="toast">
    <div class="d-flex">
        <div class="toast-body">
            <i class="{{ icon }}"></i> {{ flash }}
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>
