<turbo-frame id="quiz-form">
    <form action="{{ path('app_quiz_question_answer', {quiz:question.quiz.id, question: question.id, answer : answer.id}) }}" method="post"
          data-turbo-frame="main-section"
    >
        <h5>{{ question.value | markdown_to_html }}</h5>
        <textarea name="answer"
                  class="form-control mb-3"
                  placeholder="Your answer"
                  rows="5">{{ answer.value }}</textarea>
        <div class="row">
            <div class="col-12">
                <div class="float-end">
                    <button type="submit" class="btn btn-success">Submit ⏎</button>
                </div>
            </div>
        </div>
    </form>
</turbo-frame>
