{% extends 'layouts/base.html.twig' %}

{% block meta_title %}Quizzler? - Quizzes{% endblock %}
{% block title %}Quizzes{% endblock %}

{% block content %}
    <div class="list-quiz">
        <div class="float-start">
            <div class="d-flex actions">
                {% include '/CRUD/quiz/frame/_list-quiz__actions.html.twig' %}
            </div>
        </div>
        {% include '/CRUD/quiz/frame/_list-quiz.html.twig' %}
    </div>
{% endblock %}
