{% extends 'layouts/base.html.twig' %}

{% block meta_title %}Quizzler? - Quizzes{% endblock %}
{% block title %}Quizzes{% endblock %}

{% block content %}
    <div class="list-quiz">
        <div class="d-flex justify-content-between mb-4">
            <div class="table-navigation">
                {% include '/components/pagination.html.twig' with {page: page, perPage: perPage, totalPages: totalPages, route: 'quiz_list'} %}
            </div>
            <div class="actions d-flex">
                {% include '/CRUD/quiz/frame/_list-quiz__actions.html.twig' %}
            </div>
        </div>
        {% include '/CRUD/quiz/frame/_list-quiz.html.twig' %}
    </div>
{% endblock %}
