.table{
    .action-column{
        width: 200px;
        text-align: center;
    }
}

.markdown-compact p{
    margin-bottom: 0;
}
.list-answers .answer-item{
    background: rgba(0,0,0,0.1);
}
.actions a{
    text-decoration: none;
}

a.text-hover-primary:hover{
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1)) !important;
}
a.text-hover-success:hover{
    color: rgba(var(--bs-success-rgb),var(--bs-link-opacity,1)) !important;
}
a.text-hover-danger:hover{
    color: rgba(var(--bs-danger-rgb),var(--bs-link-opacity,1)) !important;
}

.alert-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    max-width: 500px;
    border-radius: 10px;
    border: 1px solid #888;
}

.question-item{
    padding: 10px 10px 0 10px;
    background: aliceblue;
    margin-bottom: 7px;
    border-radius: 3px;
    border: 1px solid gainsboro;
}

.question-item pre {
    color: #a9b7c6;
    background: #282b2e;
    padding: 10px 15px;
}
