{% extends 'layouts/base.html.twig' %}

{% block title %}Ask!{% endblock %}

{% block content %}
    <div class="ask-form">
        {{ form(form) }}
    </div>
    <div class="border-top border-secondary answers mt-4 pt-4">
        <div id="quiz-list" class=" mb-3 list-group">
            {% for item in questions %}
                <li class="list-group-item list-group-item-action">
                    {{ item.value }}
                </li>
            {% endfor %}
        </div>
    </div>
{% endblock %}
