{% extends 'layouts/main_with_left_sidebar.html.twig' %}

{% block title %}Quizzes{% endblock %}

{% block sidebar %}
    {{ render(path('app_quiz_list', {quiz : currentQuiz.id})) }}
{% endblock %}

{% block content %}
    {% include 'quizzes/frames/_form-answer.html.twig' with {question : currentQuestion, answer : currentAnswer} %}
    <div class="border-top border-secondary answers mt-4 pt-4">
        <turbo-frame id="answer-list" src="{{ path('app_quiz_questions', {quiz: currentQuiz.id, question: previousQuestion.id ?? currentQuestion.id}) }}">
            <p class="text-center text-secondary">
                Loading...
            </p>
        </turbo-frame>
    </div>
{% endblock %}
