{% extends 'layouts/base.html.twig' %}

{% block title %}<code>{{ currentQuiz.value }}</code>{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-sm-12 order-sm-2 order-lg-0" data-controller="search">
            <h5>Quiz questions</h5>

            <div class="form-questions mb-3">
                {{ render_inline(path('question_create', {quiz : currentQuiz})) }}
            </div>

            <div class="list-questions--filters d-flex justify-content-end mb-1">
                {% include 'quizzes/frames/_list-questions__filters.html.twig' %}
            </div>

            <div class="list-questions">
                {% include 'quizzes/frames/_list-questions.html.twig' with {questions: questions, currentQuestion: currentQuestion} %}
            </div>
        </div>

        <div class="col-sm-12 border-top border-2 border-secondary d-sm-block d-lg-none order-sm-1 mb-5 mt-5"></div>

        <div class="col-lg-6 col-sm-12 order-sm-0 order-lg-1">
            {% if not currentQuestion.id %}
                <div class="form-question">
                    <h5>Ask more!</h5>
                    <p class="text-center text-muted mt-3">Select a question first.</p>
                </div>
            {% else %}
                <div class="form-question">
                    {{ render_inline(path('answer_create', {question: currentQuestion.id})) }}
                </div>
                <div class="list-answers mt-4">
                    {% include 'quizzes/frames/_list-answers.html.twig' with {question : currentQuestion} %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
