{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-3 mb-3 ">
                <h1 class="d-inline">Quiz App</h1>
                <div class="d-inline" style="float: right">
                    <a href="{{ path('app_logout') }}" class="btn btn-secondary">Logout ⏏</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-12">
                {{ render(path('app_quiz_list', {quiz : currentQuiz.id})) }}
            </div>

            <div class="col-lg-9 col-md-12">
                <turbo-frame id="main-section">
                    {% include 'frames/_flashes.html.twig' %}
                    {% include 'frames/_form-answer.html.twig' with {question : currentQuestion, answer : currentAnswer} %}
                    <div class="border-top border-secondary answers mt-4 pt-4">
                        <turbo-frame id="answer-list" src="{{ path('app_quiz_questions', {quiz: currentQuiz.id, question: previousQuestion.id ?? currentQuestion.id}) }}">
                            <p class="text-center text-secondary">
                                Loading...
                            </p>
                        </turbo-frame>
                    </div>
                </turbo-frame>
                {# answer list #}
            </div>
        </div>
    </div>
{% endblock %}
