{% extends "layouts/base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="mt-5 col-md-4">
            {{ render(path('app_login')) }}
        </div>
    </div>
{% endblock %}
