{% extends 'layouts/base.html.twig' %}

{% block meta_title %}Quizzler? - Questions{% endblock %}
{% block title %}
    {% if (question.id) %}
        Edit question
    {% else %}
        Create question
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="d-sm-none d-lg-block col-lg-2"></div>
        <div class="col-lg-8">
            <h5>Edit question from <code>{{question.quiz.value }}</code> quiz</h5>
            {% include 'CRUD/question/frames/_form.html.twig' %}
            <div class="list-answers mt-5">
                {% include 'quizzes/frames/_list-answers.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
